.DS_Store

# Ignore custom user config file
config

# Ignore Terraform state
.terraform*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Python cache dir
__pycache__

# tfx output
*.tar.gz